.maincontainer{
    height: 700px;
    width: 100%;
    border: 2px; border-style: solid;
    border-color: black;
    display: flex;
     /* flex-wrap: nowrap; */
     flex-wrap: wrap;
     gap: 5px;
     /* flex-direction: column-reverse; */
     /* flex-direction: row-reverse; */
     justify-content: center;
     /* justify-content: left; */
     /* justify-content: flex-start; */

 /* justify-content: start; */
 /* justify-content: space-around; */
 /* justify-content: space-between; */
 /* align-items: center; */
 /* align-items: flex-end;
  */
 /* align-items: flex-start; */

}
.box{
    height: 200px;
    width: 300px;
    border: 2px;
    border-style: solid;border-color: blue;
    padding: 5px;
}
